.content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.myBtn{
    width: 15em;

}

.myNavbar{
    background-image: linear-gradient(#878787, rgb(251, 251, 251));
    width: 100vw;
    height: 13vh;
}

.prueba1{
    margin: 0;
    padding: 0;
}
.imgCar{
    width: 100vw;
    z-index: -2;
}

